---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/eda_event_streams
eda_event_streams: []

# Environment specific lists
# eda_event_streams_dev: []
# eda_event_streams_prod: []
...