---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/controller_workflow_job_templates
controller_workflows: []

# Environment specific lists
# controller_workflows_dev: []
# controller_workflows_prod: []
...