---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/gateway_authenticator_maps
gateway_authenticator_maps: []

# Environment specific lists
# gateway_authenticator_maps_dev: []
# gateway_authenticator_maps_prod: []
...