---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/controller_credentials
controller_credentials: []

# Environment specific lists
# controller_credentials_dev: []
# controller_credentials_prod: []
...