---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/controller_hosts
controller_groups: []

# Environment specific lists
# controller_groups_dev: []
# controller_groups_prod: []
...