---
- name: Collect configurations | hub_ee_registry, hub_ee_registry_index, & hub_ee_registry_sync
  ansible.builtin.include_tasks:
    file: "configure_items.yml"
  vars:
    __configure_aap_dir: "{{ item['directory'] }}"
    __configure_aap_setting: "{{ item['name'] }}"
    __configure_var_name: "{{ item['default_attr'] }}"
    __configure_var_env_name: "{{ item['env_attr'] }}"
  loop: "{{ configuration_items }}"
  when:
    - item['name'] == 'hub_ee_registries'

- name: INCLUDE_ROLE | infra.aap_configuration.hub_ee_registry
  ansible.builtin.include_role:
    name: infra.aap_configuration.hub_ee_registry
  when:
    - hub_ee_registries is defined
    - hub_ee_registries | length > 0

- name: INCLUDE_ROLE | infra.aap_configuration.hub_ee_registry_index
  ansible.builtin.include_role:
    name: infra.aap_configuration.hub_ee_registry_index
  when:
    - hub_ee_registries is defined
    - hub_ee_registries | length > 0

- name: INCLUDE_ROLE | infra.aap_configuration.hub_ee_registry_sync
  ansible.builtin.include_role:
    name: infra.aap_configuration.hub_ee_registry_sync
  when:
    - hub_ee_registries is defined
    - hub_ee_registries | length > 0
...
