---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/controller_labels
controller_labels: []

# Environment specific lists
# controller_labels_dev: []
# controller_labels_prod: []
...