---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/eda_decision_environments
eda_decision_environments: []

# Environment specific lists
# eda_decision_environments_dev: []
# eda_decision_environments_prod: []
...