---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/gateway_service_clusters
gateway_service_clusters: []

# Environment specific lists
# gateway_service_clusters_dev: []
# gateway_service_clusters_prod: []
...