---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/eda_credential_types
eda_credential_types: []

# Environment specific lists
# eda_credential_types_dev: []
# eda_credential_types_prod: []
...