---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/hub_collection_remote
hub_collection_remotes: []

# Environment specific lists
# hub_collection_remotes_dev: []
# hub_collection_remotes_prod: []
...