---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/gateway_authenticators
gateway_authenticators: []

# Environment specific lists
# gateway_authenticators_dev: []
# gateway_authenticators_prod: []
...