---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/hub_ee_registry
hub_ee_registries: []

# Environment specific lists
# hub_ee_registries_dev: []
# hub_ee_registries_prod: []
...