---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/eda_controller_tokens
eda_controller_tokens: []

# Environment specific lists
# eda_controller_tokens_dev: []
# eda_controller_tokens_prod: []
...