---
# https://github.com/redhat-cop/infra.aap_configuration/tree/devel/roles/controller_instance_groups
controller_instance_groups: []

# Environment specific lists
# controller_instance_groups_dev: []
# controller_instance_groups_prod: []
...