---
- name: Gather List of Config Directories {{ __configure_aap_dir }}
  ansible.builtin.find:
    path: "{{ configs_directory }}/{{ __configure_aap_dir }}"
    file_type: file
    recurse: true
    patterns:
      - '*.yml'
      - '*.yaml'
  register: configs

- name: Include vars from configs directory | {{ __configure_aap_dir }}
  ansible.builtin.include_vars:
    file: "{{ config }}"
    ignore_files:
      - '*.template'
  loop: "{{ configs['files'] | map(attribute='path') }}"
  loop_control:
    loop_var: config
  register: included_configs

- name: Create combined list | {{ __configure_aap_setting }}
  ansible.builtin.set_fact:
    "{{ __configure_aap_setting }}": "{{ included_configs['results'] | map(attribute=__configure_var_name, default=[]) | flatten }}"

- name: Append the optional env values
  ansible.builtin.set_fact:
    "{{ __configure_aap_setting }}": "{{ lookup('ansible.builtin.vars', __configure_aap_setting) + (included_configs['results'] | map(attribute=__configure_var_env_name, default=[]) | flatten) }}"
